@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@300;400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* declare css variable */
:root{
    --first-primary:#fc7b54;
    /* --first-primary:#1C768F; */
    /* --first-primary:#FA991C; */
    --heading:#032539;
    --heading2:#1a1463;
    --blur1:#f361fb;
    --blur2:#31bacd;
    --oragne:#FA991C;
    --para: #999;
    --bg1:#fefefe;
    --para-support:rgb(65, 65, 65);
    --white:#fff;
    --watermark-color:#fbcfc2;
    --box-shadow: 0 0 1rem .5rem rgba(0,0,0,.1);

    --background-image: linear-gradient(#fc7b54, #f361fb);

    --background-black: linear-gradient(#0000000, #2C3E50);
}

::selection{
    background-color: var(--first-primary);
    color: var(--white);
}

html{
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

h1{
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--heading);
    font-weight: 800;
    text-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}

p{
    font-size: 1.3rem;
    color: var(--para);
    line-height: 1.5rem;
}

li, a{
    list-style: none;
    text-decoration: none;
}


/*****************************************************************
    Header Section start
*****************************************************************/
.header{
    padding: 0 7rem;
    height: 5rem;
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.header .logo a{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--heading);
}

.header .logo span{
    color: var(--first-primary);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.navbar .navbar-list .navbar-link{
    font-size: 1.4rem;
    color: var(--heading);
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    transition: all .3s ease-in-out;
}

.navbar .navbar-list .navbar-link::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--first-primary);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar .navbar-list .navbar-link:hover::after{
    width: 100%;
}

.navbar .navbar-list .navbar-link:hover{
    color: var(--first-primary);
}

.mobile-navbar-btn{
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none; 
}

.mobile-navbar-btn [name="close-outline"]{
    display: none;
}


/* sticky navbar making by javascript */
.sticky .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding-top: 0;
    padding-bottom: 0;
    /* background-color: var(--first-primary);
    color: var(--bg1); */
    box-shadow: 0 0 .9rem .9rem rgba(0, 0, 0, .1);
}


.sticky .section-hero {
    margin-top: 5rem;
}

/*****************************************************************
    Reusable Codes
*****************************************************************/

.section{
    padding: 3rem 0;
    position: relative;
}

.container{
    max-width: 95rem;
    margin: 0 auto;
}

.grid{
    display: grid;
    gap: 2.5rem;
}

.grid-two-column{
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-column{
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-column{
    grid-template-columns: repeat(4, 1fr);
}

.common-heading{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    position: relative;
}

.common-heading::before{
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 1.3rem;
    height: 1.3rem;
    background-color: var(--first-primary);
    border-radius: 50%;
}

.common-heading::after{
    content: "";
    position: absolute;
    top: 125%;
    left: 1.2rem;
    min-width: 10rem;
    height: .3rem;
    background-color: var(--first-primary);
}



.btn{
    font-size: 1.3rem;
    background-color: var(--first-primary);
    padding: 1rem 2.4rem;
    border: none;
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
    border-radius: .3rem;
    transition: all .3s ease-in-out;
}

.btn:hover{
    background: var(--heading);
    letter-spacing: 1px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}



/*****************************************************************
    Hero Section Start
*****************************************************************/

.section-hero-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-hero-data h2{
    font-size: 3.5rem;
    color: var(--heading);
}


.section-hero-data h1 span{
    color: var(--first-primary);
}

.section-hero-data .profile{
    margin-bottom: 2rem;
    color: var(--heading);
}


.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img{
    max-width: 80%;
    animation: float 5s linear infinite; 
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1rem);     
    }
}

.social-icons {
    display: flex;
    gap: 2rem;
}

.social-icons a{
    font-size: 2.8rem;
    color: var(--heading);
    transition: all .3s ease-in-out;
}

.social-icons a:hover {
    color: var(--first-primary);
}

.section-hero .item2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-hero .achivements {
    display: flex;
    justify-content: center;
    align-content: center;
}

.section-hero .achivements .box{
    text-align: center;
}

.section-hero .achivements .box h2{
    font-size: 1.7rem;
    opacity: .4;
}

.section-hero .achivements .box p{
    font-size: 1.5rem;
    font-weight: 500;
}


/*****************************************************************
    My About Section Start
*****************************************************************/

.section-about .about-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-about img{
    max-width: 80%;
}

.biodata-stats{
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
    gap: 2.5rem;
} 

.section-about .bio-data .top-line{
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--heading);
}

.section-about .bio-data p{
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 1.5rem;
    max-width: 40rem;
}

/*****************************************************************
    My Services Section Start
*****************************************************************/

.section-service .subtitle{
    font-size: 1.5rem;
}

.section-service h3{
    margin: .5rem 0;
    font-size: 1.8rem;
}

.service-box{
    margin-top: 3rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 1.8rem;
    transition: all .3s linear;
    position: relative;
    overflow: hidden;
    background-color: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-service .content{
    z-index: 20;
}

.service-box .cricle{
    position: absolute;
    top: -30px;
    left: -30px;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--first-primary);
    transition: all .3s ease;
}

.service-box:hover .cricle{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: var(--first-primary);
}

.service-box:hover .content ion-icon,
.service-box:hover .content h3,
.service-box:hover .content p{
    color: var(--white);
}

.service-icon{
    width: 5rem;
    height: 5rem;
    color: var(--heading);
    display: inline-block;
    padding: 1rem;
}

/*****************************************************************
    My Skills Section Start
*****************************************************************/
.section-skills p{
    line-height: 1.4rem;
    max-width: 50%;
}
.section-skills .container{
    margin-top: 3rem;
}

.section-skills h3{
    font-size: 1.8rem;
    color: var(--heading);
    margin-bottom: 1.8rem;
    text-align: center;
    text-transform: uppercase;
}

.skill-container{
    padding: 2rem;
    border-radius: .5rem;
}

.skill-container li{
    margin: 2rem auto;
}

.skill-container li p{
    font-weight: 600;
}

.skill-container .bar{
    margin-top: .8rem;
    background-color: var(--watermark-color);
    display: block;
    height: 1.2rem;
    border-radius: 1rem;
    overflow: hidden;
    transition: all .5s ease;
}

.bar span{
    height: 1.5rem;
    float: left;
    background: var(--first-primary);
}

/* programming languges moving bar */
.html{
    width: 95%;
    animation: html 5s;
}
.css{
    width: 90%;
    animation: css 5s;
}
.javascript{
    width: 85%;
    animation: javascript 5s;
}
.java{
    width: 75%;
    animation: java 5s;
}
.python{
    width: 70%;
    animation: python 5s;
}

.react{
    width: 30%;
    animation: react 5s;
}
.bootstrap{
    width: 40%;
    animation: bootstrap 5s;
}
.git{
    width: 90%;
    animation: git 5s;
}
.netlify{
    width: 80%;
    animation: netlify 5s;
}
.firebase{
    width: 50%;
    animation: firebase 5s;
}


/*****************************************************************
    My Portfolio Section Start
*****************************************************************/

.section-portfolio p{
    margin-bottom: 3rem;
    max-width: 50%;
    line-height: 1.5rem;
}

.section-portfolio .project-box {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.section-portfolio .project-box img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.section-portfolio .project-box .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(100%);
    background-color: var(--first-primary);
    cursor: pointer;
    transition: all .3s ease;
}

.section-portfolio .project-box:hover .overlay{
    transform: translateY(0%);
}

.section-portfolio .project-box .overlay p{
    color: var(--white);
    font-size: 1rem;
    text-align: center;
    margin-bottom: .5rem;
}

.section-portfolio .project-box .overlay h3{
    color: var(--white);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.section-portfolio .project-box .overlay .portfolio-links{
    display: flex;
    gap: 3rem;
}

.section-portfolio .project-box .overlay ion-icon{
    font-size: 3rem;
    color: var(--white);
}


/*****************************************************************
    Contact Us Section Start
*****************************************************************/

.section-contact .google-map iframe{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.section-contact form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.form input, textarea {
    width: 100%;
    height: 100%;
    padding: 1rem 1.8rem;
    border: none;
    background-color: var(--watermark-color);
    border-radius: .5rem;
    font-size: 1.4rem;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

.form textarea {
    resize: none;
}

.form input[type="submit"]{
    border: none;
    background-color: var(--first-primary);
    text-transform: uppercase;
}

.form input[type="submit"]:hover{
    background-color: var(--heading);
}


/*****************************************************************
    Footer Section
*****************************************************************/

.footer{
    background-color: var(--first-primary);
}

.footer .grid{
    grid-row: 2/-1;
}
.footer h3{
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.footer .about p{
    font-size: 1.2rem;
    color: var(--white);
}

.footer .links a{
    font-size: 1.2rem;
    color: var(--white);
}

.footer .connect {
    display: flex;
    flex-direction: column;
}

.footer .connect a{
    font-size: 1.3rem;
    color: var(--white);

}

.footer .connect span{
    font-size: 1.4rem;
    color: var(--white);
    margin-right: 1rem;
}


.footer .social-icons a ion-icon{
    color: var(--white);
}


.footer .social-icons a ion-icon:hover{
    transition: all 1s ease-in-out;
     color: var(--heading);
}

.footer .copyright p{
    text-align: center;
    margin-top: 1.5rem;
    color: var(--white);
}

.footer .grid-three-column{
    grid-column: 5/-1;
}


/* ****************************************************************
    Media Queries For Responsive
******************************************************************/

@media (max-width:980px) {
    .header{
        position: relative;
    }

    .mobile-navbar-btn{
        display:block;
        z-index: 999;
        color: var(--heading);
    }

    .mobile-nav-icon{
        width: 3rem;
        height: 3rem;
        font-weight: 700;
        color: var(--heading);
    }

    .navbar{
        width: 100%;
        height: 100vh;
        position: absolute;
        top:0;
        left: 0;
        background-color: var(--first-primary);

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition:all .5s linear;

        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        z-index: 99;
    }

    .navbar-list{
        flex-direction: column;
        align-items: center;
    }

    .navbar .navbar-list .navbar-link{
        color: var(--white);
        font-size: 2.5rem;
    }

    .active .navbar{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn [name="menu-outline"]{
        display: none;
    }

    .active .mobile-navbar-btn [name="close-outline"]{
        display: block;
        color: var(--white);
    }

    .section{
        padding: 4rem 0;
    }
    
    .container{
        max-width: 85rem;
    }
    
    .grid{
        gap: 2rem;
    }
}

@media (max-width: 890px) {
    .header{
        padding: 0 2rem;
    }
    .section{
        padding: 4rem 0;
    }
    
    .container{
        max-width: 80rem;
    }
    
    .grid{
        gap: 2rem;
    }
}

@media (max-width: 790px) {
     html{
        font-size: 60%;
     }

     .container{
        max-width: 72rem;
     }

     .section-portfolio .grid-three-column{
        grid-template-columns: repeat(2, 1fr);
     }      
}

@media (max-width: 680px) {
    html{
       font-size: 61%;
    }

    .container{
       max-width: 65rem;
    }

    .section-service .grid-three-column{
        grid-template-columns: repeat(2, 1fr);
    }

    .section-about .grid-two-column{
        grid-template-columns: 1fr;
    }

    .section-about img{
        width: 70%;
    }

    .section-hero .grid-two-column{
        grid-template-columns: 1fr;
    }


    .section-hero .grid-two-column .item2{
        width: 90%;
    }

    .social-icons .icons{
        font-size: 3rem;
    }

}

@media (max-width:580px) {

    .container {
        max-width: 50rem;
    }

    .section-skills .grid-two-column{
        grid-template-columns: 1fr;
    }

    .section-contact .grid-two-column{
        grid-template-columns: 1fr;
    }


    .grid-three-column{
        grid-template-columns: 1fr;
    }

    .section-contact form{
        padding: 1rem;
    }

    .service-box {
        padding: 1.5rem 2.5rem;
    }

    .section-hero .achivements .achivements-box{
        display: flex;
        gap: 2rem;
        margin-left: 4rem;
    }

    .social-icons a{
        font-size: 3rem;
    }

}

@media (max-width: 480px){
    .html{
        font-size: 62.5%;
    }

    .container{
        max-width: 35rem;
    }

    .section-hero .grid{
        gap: 0;
    }

    .section-hero .grid-two-column{
        grid-template-columns: 1fr;
    }

    .section-service .grid-three-column{
        grid-template-columns: 1fr;
    }
    .section-service .grid{
         gap: 0;
    }
    .section-portfolio .grid-three-column{
        grid-template-columns: 1fr;
    }

    .footer .grid-three-column{
        grid-template-columns: repeat(2, 1fr);
    }

    .section-hero img{
        margin-top: 1rem;
        width: 100%;
    }

    .footer .connect{
        grid-column: 1/-1;
    }

    .footer {
        padding-bottom: .5rem;
    }

    .section .subtitle{
        max-width: 80rem;
    }

    .section-hero .section-hero-data h2, h1{
        font-size: 3rem;
    }

    .skill-container{
        padding: 1rem;
    }

    .section-hero .grid-two-column .item2{
        width: 85%;
    }

    .section-hero .grid{
        gap: 2rem;
    }

    .section-hero {
        position: relative;
    }

    .section-hero .social-icons{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        position: absolute;
        top: 50%;
    }

    .section-contact .google-map{
        height: 50vh;
    }

}

@media (max-width: 380px){

    .header{
        padding: 0 2rem;
    }

    .container{
        max-width: 34rem;
    }

    .section-hero .social-icons ion-icon{
        font-size: 3rem;
    }

    .section-hero .grid-two-column .item2{
        width: 100%;
    }
}
